@font-face {
    font-family: NorseBold;
    src: url(Resources/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #2c2d32;
    color: white;
}

img {
    max-height: auto;
    max-width: 6vw;
}

a {
    color: white;
}

p {
    color: black;
}

label {
    color: black;
    font-size: x-large;
}

input {
    background-color: white;
    padding: 0.8em;
    border-radius: 8px;
}

input:invalid {
    border-color: red;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    padding: 2em;
}

button {
    border-radius: 8px;
    padding: 1em;
    min-width: 30%;
}

.containerPage {
    max-width: 65vw;
    height: 100vh;
    background-image: url("images/mountainBG.jpg");
    display: flex;
    justify-content: space-between;
}

.containerLeft {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerLogo {
    padding-left: 6vw;
    padding-right: 6vw;
    margin-top: 15vh;
    display: flex;
}

.logoDesc {
    height: 100%;
    text-align: center;
    font-size: 6vw;
    color: white;
    font-family: NorseBold;
}

.containerRight {
    height: 100vh;
    flex-grow: 1;
    background-color: rgba(120, 190, 202, 0.5);
}

.imageDesc {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    color: white;
}

.containerSignUpDesc {
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containerForm {
    height: 54vh;
}

.containerFooter {
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstNameDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.lastNameDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.emailDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.phoneDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.passwordDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.confirmPasswordDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.headerP {
    padding-left: 1.5em;
    font-size: x-large;
    font-weight: 500;
    align-self: center;
}

.footerP {
    padding-top: 1em;
}

.formButtons {
    width: 45%;
    display: flex;
    height: 9%;
    justify-content: space-around;
    align-items: center;
}